<?php
/**
 * @var \Magento\Framework\View\Element\Template $block
 */
?>
<div id="gn-customer-notifications" data-bind="scope: 'gn-customer-notifications'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>

<script type="text/x-magento-init">
    {
        "#gn-customer-notifications": {
            "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout() ?>
        }
    }
</script>