<span class="notifications-bubble" data-bind="attr: getBubbleDivClasses(notificationsUnread().length > 0)">
    <span class="icon">&lt;N&gt;</span>
    <span class="count" data-bind="visible: notifications().length > 0, text: notificationsUnread().length"></span>
</span>

<div class="notifications">
    <div class="notifications-header">
        <h1 data-bind="i18n: 'Notifications'"></h1>
        <a href="javascript:;" data-bind="visible: notifications().length > 0,
                                          i18n: 'Mark all read',
                                          click: function(data, event) { markAllRead() }"></a>
    </div>

    <div class="notifications-content" data-bind="foreach: notifications">
        <div data-bind="attr: getRootDivClasses()">
            <a href="javascript:;" data-bind="click: function(data, event) { redirectTo(followUrl(), data, event) }">
                <span data-bind="text: message"></span>
                <span class="timeago" data-bind="text: createdAtTimeAgo"></span>
            </a>
        </div>
    </div>
</div>